 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
.pr01container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pr-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: rgb(9, 9, 147);
   background-position:bottom;
   background-size: 119rem;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 100vh;
    align-items: center;
}    
.box-container{
    display: flex;
    height: 120vh;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin: 20px;
}
/* *************************************************** */
.card-container1{
    display: flex;
    flex-direction: column;
  background-color:rgb(10, 2, 2);
    width: 31.86%;
    height: 40%;
    color: white;
    border-radius: 6px;
    align-content: center;
    border: 2px solid rgb(61, 106, 255);
}
.card-container1:hover{
    border: 2px solid rgb(2, 253, 132);
}
.proyect1{
    width: 469px;
    height: 230px;
    background-image: url(/public/encriptador.jpg);
    background-size: 136%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    box-shadow: 0px 6px 31px -1px rgb(0 0 0 / 63%);
    border-radius: 1px;
    margin-left: 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
    opacity: 0.9;
    transition: 1s;
    border: 1px solid rgb(18, 6, 6);
}
.proyect-text{
text-align: center;
/* width: 100%; */
height: 100%;
color:transparent;
font-size:30px;
font-family: ubuntu;
align-items: center;
justify-content: center;
display: flex;
cursor: pointer;
/* margin-top: 1.1rem; */
}
.proyect-text:hover{
color: white;
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.713);
        z-index: 1px;
         /* height: 100%; */
        width: 104.5%;
        margin-top: 2rem; 
        font-size: 20px;
}
.proyect1:hover{
    transition: 1s;
   background-size: 464px;
   color:  white;
   font-size: 20px;
   cursor: pointer;
}
.project-h2{
    justify-content: center;
    display: flex;
 
    font-family: 'ubuntu';
    color: azure;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px; 
    margin-top: 1rem;
}
.githubpr{
    width: 21px;
    margin-right: 5px;
}
.code-button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(61, 106, 255);
    padding: 1.8px 10px 2px 5px;
    font-size: 15px;
    font-weight: bolder;
    color:azure;
    background: rgb(37, 63, 147);
    position: relative;
    z-index: 10;
    /* right: 11rem; */
    top: 7rem;
    letter-spacing: 2px;
    overflow: hidden;
    box-shadow: 0 0 30px 5px rgba(0, 197, 236, 0.815);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 17px;
  margin: 0px;
}
.a-pr1{
    text-decoration: none!important;
}
.code-button:hover{
    box-shadow: rgb(7, 216, 248) 200px 0px 0px 0px inset;
    /* transition: 1s;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out; */
    transition: all 0.2s ease-out;
}
/* .demo-button:hover{
    box-shadow: rgb(7, 216, 248) 200px 0px 0px 0px inset;
    transition: 1s;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
} */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°PROYECT1°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.proyect2{
    background-image: url(/public/Mindy.jpg);
    width: 473px;
    height: 230px;
    background-size: 147%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    border-radius: 1px;
    margin-left: 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    opacity: 0.9;
    transition: 1s;
  
}
.proyect2:hover{
    transition: 1s;
    background-size: 480px;
    color: white;
    font-size: 20px;
}
.box-container2{
    display: flex;
    height: 120vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 86%;
}
.card-container2{
    display: flex;
    flex-direction: column;
  background-color:rgb(10, 2, 2);
    width: 32.2%;
    height: 40%;
    color: white;
    border-radius: 6px;
    align-content: center;
 
    border: 2px solid rgb(61, 106, 255);
}
.card-container2:hover{
    border: 2px solid rgb(2, 253, 132);
}
.proyect-h02{
    justify-content: center;
    display: flex;
    /* font-weight: bolder; */
    font-family: 'ubuntu';
    color: azure;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px; 
    margin-top: 1rem;

}

  .proyect-text2{
    text-align: center;
    width: 100%;
    /* height: 100%; */
    color:transparent;
    font-size:30px;
    font-family: ubuntu;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin-top: 6.5rem;
    }
    .proyect-text2:hover{
        color: white;
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.713);
        z-index: 1px;
         /* height: 100%; */
        width: 104.5%;
        /* margin-top: 8.5rem; */
       
       
        }  
        .a-pr1{
            text-decoration: none!important;
        }
        .code-button2{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid rgb(61, 106, 255);
            padding: 1.8px 10px 2px 5px;
            font-size: 15px;
            font-weight: bolder;
            color:azure;
            background: rgb(37, 63, 147);
            position: relative;
            z-index: 10;
            /* right: 8rem; */
            top: 4.3rem;
            letter-spacing: 2px;
            overflow: hidden;
            box-shadow: 0 0 30px 5px rgba(0, 197, 236, 0.815);
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
          border-radius: 17px;
          margin: 0px;
            
        }
        .code-button2:hover{
            box-shadow: rgb(7, 216, 248) 200px 0px 0px 0px inset;
            /* transition: 1s;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out; */
            transition: all 0.2s ease-out;
         
            
        }
        /* .demo-button2:hover{
            box-shadow: rgb(7, 216, 248) 200px 0px 0px 0px inset;
            transition: 1s;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
         
        } */


/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°PROYECT2°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

.proyect3{
    width: 450px;
    height: 300px;
    /* background-color: rgb(227, 252, 7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    /* box-shadow: 0px 6px 31px -1px rgba(0, 0, 0, 0.63); */
    border-radius: 25px;
    margin-left: 50px;
    /* border: 13px solid #c501e2; */
}
.proyect3:hover{
 
    border: 12px solid rgb(33,248,246);
}



/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°PROYECT3°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */



.proyect4{
    width: 450px;
    height: 300px;
    /* background-color: rgba(246, 234, 11, 0.997); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    /* box-shadow: 0px 6px 31px -1px rgba(0, 0, 0, 0.63); */
    border-radius: 25px;
    margin-left: 50px;
    /* border: 13px solid #c501e2; */
}
.proyect4:hover{
   
    border: 12px solid rgb(33,248,246);
   
}



/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°PROYECT4°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */


.card-container5{
    display: flex;
    flex-direction: column;
  background-color:rgb(10, 2, 2);
    width: 31.8%;
    height: 40%;
    color: white;
    border-radius: 6px;
    align-content: center;
   
    border: 2px solid rgb(61, 106, 255);
}
.card-container5:hover{
    border: 2px solid rgb(2, 253, 132);
}


.proyect5{
    background-image: url(/public/rfc-proyect.jpg);
    width: 467px;
    height: 230px;
    background-size: 136%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    border-radius: 1px;
    margin-left: 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
    opacity: 0.9;
    transition: 1s;
}
.proyect5:hover{
 
    
        transition: 1s;
        background-size: 480px;
        color: white;
        font-size: 20px;
 
   
}
.proyect5-h2{
    justify-content: center;
    display: flex;
    /* font-weight: bolder; */
    font-family: 'ubuntu';
    color: azure;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px; 
    margin-top: 1rem;

}

  .proyect-text5{
    text-align: center;
    width: 100%;
    /* height: 100%; */
    color:transparent;
    font-size:30px;
    font-family: ubuntu;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin-top: 6.65rem;
    }
    .proyect-text5:hover{
        color: white;
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.713);
        z-index: 1px;
         /* height: 100%; */
        width: 104.5%;
        /* margin-top: 8.5rem; */
       
       
        } 

.code-button5{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(61, 106, 255);
    padding: 1.8px 10px 2px 5px;
    font-size: 15px;
    font-weight: bolder;
    color:azure;
    background: rgb(37, 63, 147);
    position: relative;
    z-index: 10;
    /* right: 8rem; */
    top: 4.2rem;
    letter-spacing: 2px;
    overflow: hidden;
    box-shadow: 0 0 30px 5px rgba(0, 197, 236, 0.815);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 17px;
  margin: 0px;
    
}
.code-button5:hover{
    box-shadow: rgb(7, 216, 248) 200px 0px 0px 0px inset;
    /* transition: 1s;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out; */
    transition: all 0.2s ease-out;
 
    
}

/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°PROYECT5°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */





.proyect6{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    /* box-shadow: 0px 6px 31px -1px rgba(0, 0, 0, 0.63); */
    border-radius: 25px;
    margin-left: 50px;
    /* border: 13px solid #c501e2; */
}
.proyect6:hover{
   
    /* border: 12px solid rgb(33,248,246); */
   
}













/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
/* T/////////////////////////////////////////////////////////////////////////////////////////////////////////T  */
@media (max-width: 1920px){

    .pr-container{
       
    
       background-size: 120rem;
        background-repeat: no-repeat;
        object-fit: contain;
   
}

}

@media (max-width: 1440px){

    .pr-container{
        display: flex;
        justify-content: space-around;
        flex-direction:column;
       background-position:bottom;
       background-size: 119rem;
        background-repeat: no-repeat;
        object-fit: contain;
        height: 140vh;
       
}
.proyect1{
  
   
    filter: none;
    border: 2px solid rgb(61, 106, 255);
}
.proyect2{
  
    filter: none;
}
.proyect3{
    
    filter: none;
}
.proyect4{
 
    filter: none;
}
.proyect5{
 
    filter: none;
}
.proyect6{
 
 
    filter: none;
}


}

@media (max-width: 1024px){

    .pr-container{
        display: flex;
        justify-content: space-around;
        flex-direction:column;
       background-position:bottom;
       background-size: 119rem;
        background-repeat: no-repeat;
        object-fit: contain;
        height: 140vh;
}
.proyect1{
  
   
    filter: none;
}
.proyect2{
  
    filter: none;
}
.proyect3{
    
    filter: none;
}
.proyect4{
 
    filter: none;
}
.proyect5{
 
    filter: none;
}
.proyect6{
 
 
    filter: none;
}


}


@media (max-width: 768px){

    .pr-container{
        display: flex;
        justify-content: space-around;
        flex-direction:column;
       background-position:bottom;
       background-size: 119rem;
        background-repeat: no-repeat;
        object-fit: contain;
        height: 140vh;
}
.card-container1{
    width: 94.86%;
    border: 2px solid rgb(33,248,246);
}
.proyect1{

height: 215px;
background-size: 146%;
margin-left: 0%;
border: none;
}
.proyect-text{
color:white;
background-color: rgba(0, 0, 0, 0.713);
font-family: ubuntu;
cursor: pointer;
font-size: 30px;
margin-top: 5rem; 
height: 40%;
width: 100%;
background-size: 100%;


}
.proyect-text:hover {
background-size: 100%;
z-index: 1px;

margin-top: 5rem;
font-size: 30px;

height: 6vh;
font-family: ubuntu;
}
.container-text{
justify-content: center;
display: flex;
width: 350px;

}
.code-button{
top: 5rem;
left: 0rem;
}

.a-pr1{
   margin: 0px;
   padding: 0px;
   height: 14vh;
}

.a-pr11{
   text-decoration: none;
   
}


/*         -                   -                  -                     -              -               -              -       */
.proyect2{
  
    filter: none;
}
.proyect3{
    
    filter: none;
}
.proyect4{
 
    filter: none;
}
.proyect5{
 
    filter: none;
}
.proyect6{
 
 
    filter: none;
}


}

@media (max-width: 700px){

    .pr-container{
            display: flex;
            justify-content: space-around;
            flex-direction:column;
           background-position:bottom;
           background-size: 119rem;
            background-repeat: no-repeat;
            object-fit: contain;
            height: 140vh;
    }
    .box-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }
    .demo-button {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 85%;
        top: 7.3rem;
        text-decoration: none;
    }
    .code-button{
        right: 90%;
        text-decoration: none;
    }
    .proyect1{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
    .proyect2{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
    .proyect3{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
    .proyect4{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
    .proyect5{
        width: 100%;
        height: 347px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
    .proyect6{
        width: 100%;
        height: 300px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
    }
@media (max-width: 600px){

    .card-container1{
        width: 94.86%;
        border: 2px solid rgb(33,248,246);
    }
 .proyect1{
 
    height: 215px;
    background-size: 146%;
    margin-left: 0%;
    border: none;
}
.proyect-text{
    color:white;
    background-color: rgba(0, 0, 0, 0.713);
    font-family: ubuntu;
    cursor: pointer;
    font-size: 30px;
    margin-top: 5rem; 
    height: 40%;
    width: 100%;
    background-size: 100%;
 
 
    }
 .proyect-text:hover {
    background-size: 100%;
    z-index: 1px;
 
    margin-top: 5rem;
    font-size: 30px;
  
    height: 6vh;
    font-family: ubuntu;
}
.container-text{
    justify-content: center;
    display: flex;
    width: 350px;

}
   .code-button{
    top: 5rem;
    left: 0rem;
   }
 
   .a-pr1{
       margin: 0px;
       padding: 0px;
       height: 14vh;
   }
   .a-pr11{
       text-decoration: none;
   }
       /* ======================================= Responsive (425) ======================================================  */
       .card-container2{
        width: 95.2%;
        border: 2px solid rgb(33,248,246);
    }
    .proyect2{
        width: 100%;
        height: 215px;
        background-size: 150%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 0%;
        filter: none;
    }
    .proyect-text2{
        text-align: center;
        /* width: 104.5%; */
        color:white;
        background-color: rgba(0, 0, 0, 0.713);
        font-size:30px;
        font-family: ubuntu;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
          width: 105.5%;
        }
        .code-button2{
            top: 3.8rem;
            left: 0rem;
           }
    .container-text2{
        justify-content: center;
        display: flex;
        width: 350px;
    }
           /* ======================================= Responsive (425) ======================================================  */
    .proyect3{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
           /* ======================================= Responsive (425) ======================================================  */
    .proyect4{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
           /* ======================================= Responsive (425) ======================================================  */
           .card-container5{
            width: 95.2%;
            border: 2px solid rgb(33,248,246);
        }
        .proyect5{
            width: 100%;
            height: 215px;
            background-size: 150%;
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
            margin-left: 0%;
            filter: none;
        }
        .proyect-text5{
            text-align: center;
            color:white;
            background-color: rgba(0, 0, 0, 0.713);
            font-size:30px;
            font-family: ubuntu;
            align-items: center;
            justify-content: center;
            display: flex;
            cursor: pointer;
              width: 105.5%;
            }
        .container-text5{
            justify-content: center;
            display: flex;
            width: 350px;
        }
           .code-button5{
            top: 3.5rem;
            left: 0rem;
           }
     
    }

@media (max-width: 500px){

    .card-container1{
        width: 94.86%;
        border: 2px solid rgb(33,248,246);
    }
 .proyect1{
 
    height: 215px;
    background-size: 146%;
    margin-left: 0%;
    border: none;
}
.proyect-text{
    color:white;
    background-color: rgba(0, 0, 0, 0.713);
    font-family: ubuntu;
    cursor: pointer;
    font-size: 30px;
    margin-top: 5rem; 
    height: 40%;
    width: 100%;
    background-size: 100%;
 
 
    }
 .proyect-text:hover {
    background-size: 100%;
    z-index: 1px;
 
    margin-top: 5rem;
    font-size: 30px;
  
    height: 6vh;
    font-family: ubuntu;
}
.container-text{
    justify-content: center;
    display: flex;
    width: 350px;

}
   .code-button{
    top: 5rem;
    left: 0rem;
   }
 
   .a-pr1{
       margin: 0px;
       padding: 0px;
       height: 14vh;
   }
   .a-pr11{
       text-decoration: none;
   }
       /* ======================================= Responsive (425) ======================================================  */
       .card-container2{
        width: 95.2%;
        border: 2px solid rgb(33,248,246);
    }
    .proyect2{
        width: 100%;
        height: 215px;
        background-size: 150%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 0%;
        filter: none;
    }
    .proyect-text2{
        text-align: center;
        /* width: 104.5%; */
        color:white;
        background-color: rgba(0, 0, 0, 0.713);
        font-size:30px;
        font-family: ubuntu;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
          width: 105.5%;
        }
        .code-button2{
            top: 3.8rem;
            left: 0rem;
           }
    .container-text2{
        justify-content: center;
        display: flex;
        width: 350px;
    }
           /* ======================================= Responsive (425) ======================================================  */
    .proyect3{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
           /* ======================================= Responsive (425) ======================================================  */
    .proyect4{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
           /* ======================================= Responsive (425) ======================================================  */
           .card-container5{
            width: 95.2%;
            border: 2px solid rgb(33,248,246);
        }
        .proyect5{
            width: 100%;
            height: 215px;
            background-size: 150%;
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
            margin-left: 0%;
            filter: none;
        }
        .proyect-text5{
            text-align: center;
            color:white;
            background-color: rgba(0, 0, 0, 0.713);
            font-size:30px;
            font-family: ubuntu;
            align-items: center;
            justify-content: center;
            display: flex;
            cursor: pointer;
              width: 105.5%;
            }
        .container-text5{
            justify-content: center;
            display: flex;
            width: 350px;
        }
           .code-button5{
            top: 3.5rem;
            left: 0rem;
           }
           /* ======================================= Responsive (425) ======================================================  */
    .proyect6{
        width: 100%;
        height: 300px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    }
        /* ======================================= Responsive (425) ======================================================  */
    }
@media (max-width: 375px){

    .card-container1{
        width: 94.86%;
        border: 2px solid rgb(33,248,246);
    }
 .proyect1{
 
    height: 215px;
    background-size: 146%;
    margin-left: 0%;
    border: none;
}
.proyect-text{
    color:white;
    background-color: rgba(0, 0, 0, 0.713);
    font-family: ubuntu;
    cursor: pointer;
    font-size: 30px;
    margin-top: 5rem; 
    height: 40%;
    width: 100%;
    background-size: 100%;
 
 
    }
 .proyect-text:hover {
    background-size: 100%;
    z-index: 1px;
 
    margin-top: 5rem;
    font-size: 30px;
  
    height: 6vh;
    font-family: ubuntu;
}
.container-text{
    justify-content: center;
    display: flex;
    width: 350px;

}
   .code-button{
    top: 5rem;
    left: 0rem;
   }
 
   .a-pr1{
       margin: 0px;
       padding: 0px;
       height: 14vh;
   }
 
   .a-pr11{
       text-decoration: none;
       
   }
    /* ======================================= Responsive (1) ======================================================  */
    .card-container2{
        width: 95.2%;
        border: 2px solid rgb(33,248,246);
    }
    .proyect2{
        width: 100%;
        height: 215px;
        background-size: 150%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 0%;
        filter: none;
    }
    .proyect-text2{
        text-align: center;
        /* width: 104.5%; */
        color:white;
        background-color: rgba(0, 0, 0, 0.713);
        font-size:30px;
        font-family: ubuntu;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
          width: 105.5%;
        }
        .code-button2{
            top: 3.8rem;
            left: 0rem;
           }
    .container-text2{
        justify-content: center;
        display: flex;
        width: 350px;
    }
     /* ======================================= Responsive (2) ======================================================  */
    .proyect3{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
  
    }
     /* ======================================= Responsive (3) ======================================================  */
    .proyect4{
        width: 100%;
        height: 350px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    
    }
     /* ======================================= Responsive (4) ======================================================  */
     .card-container5{
        width: 95.2%;
        border: 2px solid rgb(33,248,246);
    }
    .proyect5{
        width: 100%;
        height: 215px;
        background-size: 150%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 0%;
        filter: none;
    }
    .proyect-text5{
        text-align: center;
        color:white;
        background-color: rgba(0, 0, 0, 0.713);
        font-size:30px;
        font-family: ubuntu;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
          width: 105.5%;
        }
    .container-text5{
        justify-content: center;
        display: flex;
        width: 350px;
    }
       .code-button5{
        top: 3.5rem;
        left: 0rem;
       }
     /* ======================================= Responsive (5) ======================================================  */
    .proyect6{
        width: 100%;
        height: 300px;
        background-size: 234%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        margin-left: 2%;
        filter: none;
    
    }
    }
 /* ======================================= Responsive (6) ======================================================  */

@media (max-width: 320px){

    .card-container1{
        width: 94.86%;
        border: 2px solid rgb(33,248,246);
    }
 .proyect1{
 
    height: 215px;
    background-size: 146%;
    margin-left: 0%;
    border: none;
}
.proyect-text{
    color:white;
    background-color: rgba(0, 0, 0, 0.713);
    font-family: ubuntu;
    cursor: pointer;
    font-size: 30px;
    margin-top: 5rem; 
    height: 40%;
    width: 100%;
    background-size: 100%;
 
 
    }
 .proyect-text:hover {
    background-size: 100%;
    z-index: 1px;
 
    margin-top: 5rem;
    font-size: 30px;
  
    height: 6vh;
    font-family: ubuntu;
}
.container-text{
    justify-content: center;
    display: flex;
    width: 300px;

}
   .code-button{
    top: 5rem;
    left: 0rem;
   }
 
   .a-pr1{
       margin: 0px;
       padding: 0px;
       height: 14vh;
   }
 
   .a-pr11{
       text-decoration: none;
       
   }

/* ======================================= Responsive ======================================================  */
.card-container2{
    width: 95.2%;
    border: 2px solid rgb(33,248,246);
}
.proyect2{
    width: 100%;
    height: 215px;
    background-size: 150%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    margin-left: 0%;
    filter: none;
}
.proyect-text2{
    text-align: center;
    /* width: 104.5%; */
    color:white;
    background-color: rgba(0, 0, 0, 0.713);
    font-size:30px;
    font-family: ubuntu;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
      width: 105.5%;
    }
    .code-button2{
        top: 3.8rem;
        left: 0rem;
       }
.container-text2{
    justify-content: center;
    display: flex;
    width: 300px;
}
/* ======================================= Responsive ======================================================  */
.proyect3{
    width: 100%;
    height: 350px;
    background-size: 234%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    margin-left: 2%;
    filter: none;
    border: 2px solid rgb(33,248,246);
}
/* ======================================= Responsive ======================================================  */
.proyect4{
    width: 100%;
    height: 350px;
    background-size: 234%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    margin-left: 2%;
    filter: none;
    border: 9px solid rgb(33,248,246);
}
/* ======================================= Responsive ======================================================  */
.card-container5{
    width: 95.2%;
    border: 2px solid rgb(33,248,246);
}
.proyect5{
    width: 100%;
    height: 215px;
    background-size: 150%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    margin-left: 0%;
    filter: none;
    
   
}
.proyect5:hover{
    
}
.proyect-text5{
    text-align: center;
    /* width: 104.5%; */
    color:white;
    background-color: rgba(0, 0, 0, 0.713);
    font-size:30px;
    font-family: ubuntu;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
      width: 105.5%;
    }
.container-text5{
    justify-content: center;
    display: flex;
    width: 300px;

}
   .code-button5{
    top: 3.5rem;
    left: 0rem;
   }
/* ======================================= Responsive ======================================================  */
.proyect6{
    width: 100%;
    height: 300px;
    background-size: 234%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    margin-left: 2%;
    filter: none;
    border: 9px solid rgb(33,248,246);
}
}
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
/* ======================================= Responsive ======================================================  */
























