* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.flip-card {
    background-color: transparent;
    height: 680px;
    width: 25.5%;
    padding: 20px;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    margin-top: 2rem;
    perspective: 1000px;
    font-family: ubuntu;
    font-size: 20px;
  }
  .title {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    font-family: ubuntu;
  }
  .title2{
    font-family: ubuntu;
    font-weight:bolder;
  }
  .tittle-home{
    font-weight:bolder;
    font-family: ubuntu;
  }
  .slogan-home{
    font-weight:bolder;
    font-family: ubuntu;
    color:azure;
  }
  .flip-card-inner {
    position: relative;
    width: 350px;
    height: 64vh;
    text-align: center;
    transition: transform 0.8s;
    /* transition: all 0.5s ease-out 0s; */
    transform-style: preserve-3d;
    border: 5px solid black;
    border-radius: 23px;
    top: 8rem;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    font-family: ubuntu;
  }
  .flip-card-front {
    background-image: url(/public/q1.jpg);
    color: azure;
    background-size: 33rem;
   object-fit: cover;
    background-position:unset;
    font-family: ubuntu;
    
  }
  
  .flip-card-back {
   background: linear-gradient(45deg, #6A53A1ff, #009AC4ff, #A61D68ff, #1A0132ff, #002362ff);;
   transform: rotateY(180deg);
    color: azure;
    object-fit: cover;
    font-family: ubuntu;
    
  }
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/public/space.png);
    background-position: center;
    object-fit: cover;
    background-size: 117rem;
background-color:black;
}
.home1 {
    width: 93%;
    height: 106vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/d1.jpg");
    width: 80%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 254px;
    margin: 20px;
    border-radius: 220px;
    border: 14px solid #1CB698;
    object-fit: cover;
    margin-top: 70px;
}
.fa-brands{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 25px;
    transition: .3s;
    /* transition: all 0.5s ease-out 0s; */
}
.fa-brands:hover{
    box-shadow: rgb(16, 219, 246) 100px 0px 0px 0px inset;
    color: black;
    font-size: 35px;
}
.fa-solid{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 25px;
    transition: .3s;
}
.fa-solid:hover{
    box-shadow: rgb(16, 219, 246) 100px 0px 0px 0px inset;
    color: black;
    font-size: 35px;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.linkpdf{
    text-decoration: none;
    color: rgb(14, 254, 202);
    padding: 10px;
    border-radius: 20px;
    text-shadow:8px 8px 30px rgb(17, 252, 252),
    -2px 2px 20px rgb(7, 249, 152);
}
.linkpdf:hover{
    background-color: black;
    color: greenyellow;
    font-size: 25px;
    border: 2px solid  rgb(1, 17, 14);
    text-shadow:8px 8px 30px rgb(17, 252, 252),
    -2px 2px 20px rgb(7, 249, 152);
}
@media (max-width: 2560px){
    .flip-card {
        background-color: transparent;
        height: 940px;
        width: 21%;
        padding: 20px;
        text-align: center;
        border-radius: 40px;
        text-align: center;
        margin-top: 2rem;
        perspective: 1000px;
        font-family: sans-serif;
        font-size: 20px;
    }
    .img-container {
         width: 63%;
    background-size: 103%;
    height: 19vh;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 19%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 14rem;
    width: 377px;
    height: 57vh;
    }
    .flip-card-front {
        background-position:unset;
        background-size: 150%;
       
      }
        }
        @media (max-width: 2000px){
           

            .flip-card {
                background-color: transparent;
                height: 650px;
                width: 22%;
                padding: 20px;
                text-align: center;
                border-radius: 40px;
                text-align: center;
                margin-top: 6rem;
                perspective: 1000px;
                font-family: sans-serif;
                font-size: 20px;
            }
            .img-container {
                width: 65%;
                background-size: 103%;
                height: 21vh;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 18%;
            }
            .flip-card-inner {
                position: relative;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                border: 5px solid black;
                border-radius: 23px;
                top: 7rem;
                width: 310px;
                min-height:60vh;
            }
            .flip-card-front {
                background-position:unset;
                background-size: 32rem;
              }
                }
@media (max-width: 1440px){
    .flip-card {
        background-color: transparent;
        height: 630px;
        width: 28%;
        padding: 20px;
        text-align: center;
        border-radius: 40px;
        text-align: center;
        margin-top: 2rem;
        perspective: 1000px;
        font-family: sans-serif;
        font-size: 20px;
    }
    .img-container {
        width: 65%;
        background-size: 103%;
        height: 22vh;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 19%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 310px;
        min-height:60vh;
    }
    .flip-card-front {
        background-position:unset;
        background-size: 30rem;
      }
        }
   



        @media (max-width: 1270px){
            .flip-card {
                background-color: transparent;
                height: 70%;
                width: 30%;
                padding: 20px;
                text-align: center;
                border-radius: 40px;
                text-align: center;
                margin-top: 2rem;
                perspective: 1000px;
                font-family: sans-serif;
                font-size: 20px;
            }
            .img-container {
                width: 65%;
                background-size: 103%;
                height: 23vh;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 19%;
            }
            .flip-card-inner {
                position: relative;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                border: 5px solid black;
                border-radius: 23px;
                top: 10rem;
                width: 310px;
                min-height:60vh;
            }
            .flip-card-front {
                background-position:unset;
                background-size: 30rem;
              }
                }
@media (max-width: 1024px){
    .flip-card {
        background-color: transparent;
        height: 600px;
        width: 38%;
        padding: 20px;
        text-align: center;
        border-radius: 40px;
        text-align: center;
        margin-top: 2rem;
        perspective: 1000px;
        font-family: sans-serif;
        font-size: 20px;
    }
    .img-container {
        width: 65%;
        background-size: 103%;
        height: 23vh;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 19%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 310px;
        min-height:60vh;
    }
    .flip-card-front {
        background-position:unset;
        background-size: 30rem;
      }
        }
        @media (max-width: 911px){
            .flip-card {
                background-color: transparent;
                height: 600px;
                width: 40%;
                padding: 20px;
                text-align: center;
                border-radius: 40px;
                text-align: center;
                margin-top: 2rem;
                perspective: 1000px;
                font-family: sans-serif;
                font-size: 20px;
            }
            .img-container {
                width: 65%;
                background-size: 103%;
                height: 23.5vh;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 19%;
            }
            .flip-card-inner {
                position: relative;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                border: 5px solid black;
                border-radius: 23px;
                top: 10rem;
                width: 310px;
                min-height:60vh;
            }
            .flip-card-front {
                background-position:unset;
                background-size: 24rem;
              }
        }
@media (max-width: 768px){
.flip-card {
    background-color: transparent;
    height: 604px;
    width: 49%;
    padding: 20px;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    margin-top: 2rem;
    perspective: 1000px;
    font-family: sans-serif;
    font-size: 20px;
}
.img-container {
    width: 65%;
    background-size: 103%;
    height: 23vh;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 19%;
}
.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 5px solid black;
    border-radius: 23px;
    top: 10rem;
    width: 310px;
    min-height:60vh;
}
.flip-card-front {
    background-position:unset;
    background-size: 30rem;
  }
    }
    @media (max-width: 750px){
        .img-container {
            width: 65%;
            background-size: 103%;
            height: 23vh;
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 19%;
        }
        .flip-card-inner {
            position: relative;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            border: 5px solid black;
            border-radius: 23px;
            top: 10rem;
            width: 310px;
            min-height:60vh;
        }
         .flip-card {
             height: 72%;
             width: 50%;
             display: flex;
             flex-direction: column;
             align-content: center;
             justify-content: center;
             align-items: center;
         }
         .flip-card-front {
            background-position:unset;
            background-size: 33rem;
          }
        }
    @media (max-width: 715px){
        
        .img-container {
            width: 65%;
            background-size: 103%;
            height: 47vh;
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 19%;
        }
        .flip-card-inner {
            position: relative;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            border: 5px solid black;
            border-radius: 23px;
            top: 10rem;
            width: 310px;
            min-height:60vh;
        }
         .flip-card {
             height: 530px;
             width: 50%;
             display: flex;
             flex-direction: column;
             align-content: center;
             justify-content: center;
             align-items: center;
         }
         .flip-card-front {
            background-position:unset;
            background-size: 33rem;
          }
        }
        @media (max-width: 650px) {
           
            .flip-card{
                width: 100%;
            }
            .img-container {
                width: 65%;
                background-size: 109%;
                height: 47vh;
                margin-bottom: 13px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 19%;
            }
            .flip-card-inner {
                position: relative;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                border: 5px solid black;
                border-radius: 23px;
                top: 10rem;
                width: 310px;
                min-height:60vh;
            }
            .flip-card {
                height: 530px;
                width: 60%;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
            }
            .flip-card-front {
                background-position:unset;
                background-size: 33rem;
              }
        }
@media (max-width: 600px) {
    .img-container {
        width: 65%;
        background-size: 103%;
        height: 47vh;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 19%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 310px;
        min-height:60vh;
    }
    .flip-card {
        height: 530px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .flip-card-front {
        background-position:unset;
        background-size: 28rem;
      }
}
@media (max-width: 578px) {
    .img-container {
        width: 70%;
        background-size: 103%;
        height: 62vh;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 310px;
        min-height:50vh;
    }
    .flip-card {
        height: 550px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .flip-card-front {
        background-position:unset;
        background-size: 25rem;
      }
}
@media (max-width: 522px){
    .img-container {
        width: 74%;
        background-size: 103%;
        height: 62vh;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 14%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 275px;
        min-height:50vh;
    }
    .flip-card {
        height: 530px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .slogan-home{
        font-size: 17px;
    }
  
    .flip-card-front {
        background-position:unset;
        background-size: 24rem;
      }
    }
@media (max-width: 425px){
    .img-container {
        width: 74%;
        background-size: 103%;
        height: 62vh;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 14%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 275px;
        min-height:50vh;
    }
    .flip-card {
        height: 530px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .slogan-home{
        font-size: 17px;
    }
 
    .flip-card-front {
        background-position:unset;
        background-size: 27rem;
      }
}
@media (max-width: 375px){
    .img-container {
        width: 74%;
        background-size: 103%;
        height: 62vh;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 14%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 275px;
        min-height:58vh;
    }
    .flip-card {
        height: 59%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .slogan-home{
        font-size: 17px;
    }
 
    .flip-card-front {
        background-position:unset;
        background-size: 26rem;
      }
    }
@media (max-width: 320px){
    .home-container {
        background-size: 360%;
        width: 100%;
    }
    .img-container {
        width: 74%;
        background-size: 103%;
        height: 62vh;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 14%;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border: 5px solid black;
        border-radius: 23px;
        top: 10rem;
        width: 275px;
        min-height:50vh;
    }


    .flip-card {
        height: 530px;
        width: 100%;
    }
    .slogan-home{
        font-size: 17px;
    }
   
  
    }
