@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.div-form{
	background-image: url(/public/space.png)
	 
}
.cp{
	background-color: black;
    color: azure;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 62vh;
    border-radius: 30px;
    padding: 37px 0px 68px;
}
 
.btnf1  {
	display: block;
	/* background: #0085FF; */
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 65%;
	padding: 10px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	cursor: pointer;
	background: rgb(61, 106, 255);
	border: 1px solid rgb(61, 106, 255);
}
 .btnf1:hover{
	box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
	
 }
 
.form-mail{
	display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
	height:100vh;
	width:100%;
}
.title-form{
	font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
	color:azure;
	font-weight:bolder;
	top:5rem;
	 
}
#user_name{
	background-color:bisque;
	border-radius:10px;
	border-radius: 5px;
    width: 65%;
    padding: 8px;
}
#user_email{
	background-color:bisque;
	border-radius: 5px;
	width: 65%;
    padding: 8px;
}
#user_message{
	background-color:bisque;
	border-radius: 5px;
    padding: 8px;
	height:20vh;
	width: 65%;
	
}


@media (max-width: 1440px){
	.cp{  width: 40%;
	}
  }



@media (max-width: 1000px){
	.cp{  width: 54%;
	}
  }

@media (max-width: 768px){
	.cp{  width: 54%;
	}
  }


@media (max-width: 425px){
  .cp{  width: 94%;
  }
}










