@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.div-form{
	background-image: url(/public/space.png);
	/* background-size:100%; */
}
.cp{
	background-color: #00000063;
    color: azure;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 62vh;
    border-radius: 30px;
    padding: 37px 0px 68px;
}
.btnf1  {
	display: block;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 65%;
	padding: 10px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	cursor: pointer;
	background: rgb(61 106 255 / 66%);
	border: 1px solid rgb(61, 106, 255);
}
 .btnf1:hover{
	box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
	background: rgb(61, 106, 255);
	border: 1px solid #00000063;
	color: cyan ;
 }
.form-mail{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height:100vh;
	width:100%;
}
.title-form{
	font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
	color:azure;
	font-weight:bolder;
	top:5rem;
	font-family: ubuntu;
}
.title-form:hover{
	color:blue;
}
#user_name{
	background-color:#ffe4c48f;
	border-radius:10px;
	border-radius: 5px;
    width: 65%;
    padding: 8px;
	color:cyan;
}
#user_email{
	background-color:#ffe4c48f;
	border-radius: 5px;
	width: 65%;
    padding: 8px;
	color:cyan;
}
#user_message{
	background-color:#ffe4c48f;
	border-radius: 5px;
    padding: 8px;
	height:20vh;
	width: 65%;
	color:cyan;
}




/*               --        */


.redes-footer{
    display: flex;
	justify-content:center;
    gap: 30px;
}
.icon-github1{
display: flex;
height: 4.5vh;
}
.icon-github1:hover{
   width: 3rem;
}
.icon-instagram1{
display: flex;
justify-content: center;
height: 4.5vh;
backdrop-filter: blur(10px);
}
 
.icon-linkedin1{
display: flex;
height: 4.5vh;
}
.icon-tweeter1{
    display: flex;
height: 4.5vh;
color: red;
}
.footer-all{
    font-size: 16px;
}
.i0{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:azure;
}
.i001{
    display: flex;
    justify-content: center;
}
.i002{
    display: flex;
    justify-content: center;
}
.i003{
    display: flex;
    justify-content: center;
}
.i004{
    display: flex;
    justify-content: center;
}
.i1{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:azure;
}
.i2{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:azure;
}
.i3{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.small, small{
	color:	aqua;
} 


/*               --        */

@media (max-width: 1440px){
	.cp{  width: 40%;
	}
  }
@media (max-width: 1000px){
	.cp{  width: 54%;
	}
  }
@media (max-width: 768px){
	.cp{  width: 54%;
	}
  }
@media (max-width: 425px){
  .cp{  width: 94%;
  }
}










