*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
footer{
    display: flex;
    justify-content: space-around;
    min-height: 20vh;
    color: azure;
    background-image: url("/public/h1.jpg");
    font-weight: bolder;
    align-items: center;
}
.redes-footer{
    display: flex;
    gap: 30px;
    
}

.icon-github1{
/* background-image: url(/public/code_development_github_open_source_programming_source_icon_123274\ \(1\).png); */
display: flex;
height: 3vh;



}
.icon-instagram1{
/* background-image: url(/public/instagram.svg); */
display: flex;
justify-content: center;
height: 3vh;


}
.icon-linkedin1{
/* background-image: url(/public/linkedin.png); */
display: flex;
height: 3vh;
}
.icon-tweeter1{
    display: flex;
height: 3vh;
}

.footer-all{
    font-size: 16px;

}

.i0{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}
.i1{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.i2{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.i3{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.i4{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}






























