*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
footer{
    display: flex;
    justify-content: space-around;
    min-height: 20vh;
    color:aqua;
    font-weight: bolder;
    align-items: center;
    background: linear-gradient(45deg, #6A53A1ff, #009AC4ff, #A61D68ff, #1A0132ff, #002362ff);;
}
.redes-footer{
    display: flex;
    gap: 30px;
}
.icon-github1{
display: flex;
height: 4.5vh;
}
.icon-github1:hover{
   width: 3rem;
}
.icon-instagram1{
display: flex;
justify-content: center;
height: 4.5vh;
backdrop-filter: blur(10px);
}
 
.icon-linkedin1{
display: flex;
height: 4.5vh;
}
.icon-tweeter1{
    display: flex;
height: 4.5vh;
color: red;
}
.footer-all{
    font-size: 16px;
}
.i0{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:azure;
}
.i001{
    display: flex;
    justify-content: center;
}
.i002{
    display: flex;
    justify-content: center;
}
.i003{
    display: flex;
    justify-content: center;
}
.i004{
    display: flex;
    justify-content: center;
}
.i1{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:azure;
}
.i2{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:azure;
}
.i3{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
/* 11///////////////////////////////////////////////////////////////////////////////////////////////////////// 22*/
/*  */
@media (max-width: 600px){
    footer{
        flex-direction: column;
    
    }

}
@media (max-width: 375px){

    .redes-footer{
        flex:auto;
        gap: 30px;
        margin: 2rem;
       
    
    }
    .redes-footer:hover{
        background-size: 4px;
    }
    footer{
        flex-direction: column;
    
    }

    }

@media (max-width: 320px){

.redes-footer{
    flex:auto;
    gap: 30px;
    margin: 2rem;
   

}
.redes-footer:hover{
    background-size: 4px;
}
footer{
    flex-direction: column;

}
 
}
























