*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#f1{
    display: flex;
    min-height: 20vh;
    color: azure;
    background-color: rgb(249, 5, 5);
    font-weight: bolder;
    background-image: url("/public/h1.jpg");

}
.icon-github{
background-image: url("/public/github\ \(1\).png");
}
.icon-instagram{
background-image: url(/public/linkedin.png);
}
.icon-linkedin{
background-image: url("/public/instagram\ \(1\).svg") ;

}


































