*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   


}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 100vh;
   width: 100%;
   background-color:#090205;
   /* background-image: url("https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg");
   background-position: center; */
   color: white;
/* 
   #2d33e1
#f02d58
#751a43 */
}
.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}
.ilustracion{
    background-image: url("/public/Frame_1.png");
    position: absolute;
    background-size: 25rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.about-title{
    font-family:monospace ;
}
.tittle-h2{
    color: azure;
    font-size: 40px;
    font-weight: bold;



}

.p-section{
    color: white;
    font-size: 23px;
    font-family: work, cursive;
    /* width: 750px; */
}

.tittle-h3{
    display: flex;
flex-wrap: wrap;
    color: azure;
    font-size: 40px;
    font-weight: bold;
}

.interesting{
    display: flex;
  flex-wrap: wrap;
    color: white;
    font-size: 18px;
}

.myinteresting{
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 40px;
    font-weight: bold;
}

.items-interesting{
    
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 18px;


}

 


/*  5sd545s45s454sd  */


.sobremi{
    /* background-color: #1e2326; */
    color: #fff;
    padding: 50px 20px;
   

}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 52px;
    font-family: 'Ubuntu';
    text-align: center;
    padding: 20px 0;
    margin-top: 5rem;
    font-weight: bolder;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    /* background-color: #1CB698; */
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}
.a-button {
    text-decoration: none;
}
.interes{
color: red;

}

.interes:hover{
background-color: aqua;

}











